Subsystem sftp /usr/lib/openssh/sftp-server
AuthorizedKeysFile .ssh/authorized_keys
ChallengeResponseAuthentication no
PasswordAuthentication no
PermitEmptyPasswords no
GSSAPIAuthentication no
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding {{ standard_ssh_allow_tcp_forwarding | bool | ternary('yes', 'no') }}
MaxAuthTries 3
MaxSessions {{ standard_ssh_max_sessions | int }}
LoginGraceTime 30
ClientAliveInterval 300
ClientAliveCountMax 2
PubkeyAuthentication yes
UsePAM yes
LogLevel VERBOSE
{% if standard_ssh_allow_users | length > 0 %}
AllowUsers {{ standard_ssh_allow_users | join(' ') }}
{% endif %}
