for i in $(ls {{ nextcloud_path }}/git)
    do
        mkdir -p "{{ nextcloud_path }}/env_backup/${i}"
        cp -r "{{ nextcloud_path }}/git/${i}/env" "{{ nextcloud_path }}/env_backup/${i}/"
    done
