---
- name: Install cron
  ansible.builtin.dnf:
    name: cronie
    state: present

- name: Enable crond
  ansible.builtin.systemd:
    name: crond.service
    enabled: yes

- name: Update System Schedule
  ansible.builtin.cron:
    name: "Update System"
    minute: "{{ patching_minute }}"
    hour: "{{ patching_hour }}"
    weekday: "{{ patching_weekday }}"
    month: "{{ patching_month }}"
    job: /usr/bin/bash /usr/local/bin/update_system.sh
    state: absent
