---
- name: Install qemu-guest-agent
  ansible.builtin.dnf:
    name: qemu-guest-agent
    state: present

- name: Enable qemu-guest-agent
  ansible.builtin.systemd:
    name: qemu-guest-agent.service
    enabled: yes
