---
- name: Install rclone
  ansible.builtin.dnf:
    name:
      - rclone
      - fuse3
    state: present

- name: Rclone config path
  ansible.builtin.file:
    path: "/root/.config/rclone"
    state: directory

- name: Rclone config file
  ansible.builtin.template:
    src: rclone_config.j2
    dest: "/root/.config/rclone/rclone.conf"
    owner: root
    group: root
    mode: "0644"
