#!/bin/bash

/usr/bin/sqlite3 {{ vaultwarden_path }}/vw-data/db.sqlite3 ".backup '{{ vaultwarden_path }}/database_backups/vaultwarden_db-$(date +%m_%d_%Y).sqlite3'"

{% if backup_local | default(false) %}
DEST="{{ nextcloud_path }}/data/{{ nextcloud_database_user }}/files/{{ vaultwarden_backup_location | replace('Nextcloud:', '') }}"
/usr/bin/mkdir -p "$DEST"
/usr/bin/cp {{ vaultwarden_path }}/database_backups/* "$DEST/"
/usr/bin/podman exec nextcloud php occ files:scan \
    --path="{{ nextcloud_database_user }}/files/{{ vaultwarden_backup_location | replace('Nextcloud:', '') }}" \
    >> /var/log/vaultwarden_backup.log 2>&1 || true
{% else %}
/usr/bin/rclone copy {{ vaultwarden_path }}/database_backups Nextcloud:{{ vaultwarden_backup_location }}
{% endif %}

rm {{ vaultwarden_path }}/database_backups/*
