podman stop --ignore vaultwarden
podman rm --ignore vaultwarden
podman pull docker.io/vaultwarden/server:latest
podman stop --ignore swag
podman rm --ignore -f swag
podman pull docker.io/linuxserver/swag:latest
/usr/bin/bash /usr/local/bin/vaultwarden.sh
/usr/bin/bash /usr/local/bin/swag_container.sh
