podman stop --ignore vaultwarden
podman rm --ignore vaultwarden
podman pull docker.io/vaultwarden/server:latest
podman stop --ignore swag
podman rm --ignore -f swag
podman pull docker.io/linuxserver/swag:latest
