[Unit]
Description=Pod container-vaultwarden.service
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=kubectl delete -f "/home/{{ user_name }}/kubernetes/vaultwarden.yml"
ExecStart=kubectl create -f "/home/{{ user_name }}/kubernetes/vaultwarden.yml"
ExecStop=kubectl delete -f "/home/{{ user_name }}/kubernetes/vaultwarden.yml"
Type=forking

[Install]
WantedBy=multi-user.target default.target
