---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    bind-mount-options: "/home/{{ user_name }}/vaultwarden/ssl_certs:Z"
    bind-mount-options: "/home/{{ user_name }}/vaultwarden/vw-data:Z"
  labels:
    app: vaultwarden
  name: vaultwarden
spec:
  volumes:
  - name: vaultwarden-vw-data
    hostPath:
      path: /home/{{ user_name }}/vaultwarden/vw-data
      type: Directory

  - name: vaultwarden-ssl-certs
    hostPath:
      path: /home/{{ user_name }}/vaultwarden/ssl_certs
      type: Directory

  containers:
  - name: vaultwarden
    image: docker.io/vaultwarden/server:latest

    env:
    - name: ROCKET_TLS
      value: '{certs="/ssl_certs/fullchain.pem",key="/ssl_certs/privkey.pem"}'

    ports:
    - containerPort: 80
      hostPort: 10000

    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE

    volumeMounts:
    - name: vaultwarden-vw-data
      mountPath: /data/

    - name: vaultwarden-ssl-certs
      mountPath: /ssl_certs/
