- name: Create navidrome container network
  ansible.builtin.shell:
    cmd: |
      podman network create --subnet 172.16.1.24/29 navidrome_container_net
  ignore_errors: true

- name: Create Navidrome container path
  ansible.builtin.file:
    path: "{{ navidrome_path }}"
    state: directory

- name: Create Navidrome container music path
  ansible.builtin.file:
    path: "{{ navidrome_path }}/music"
    state: directory

- name: Create Navidrome container data path
  ansible.builtin.file:
    path: "{{ navidrome_path }}/data"
    state: directory

- name: Create Navidrome container backup path
  ansible.builtin.file:
    path: "{{ navidrome_path }}/backup"
    state: directory

- name: Navidrome Service
  ansible.builtin.template:
    src: navidrome_container.service.j2
    dest: "/etc/systemd/system/navidrome_container.service"

- name: Enable Navidrome
  ansible.builtin.systemd:
    name: navidrome_container.service
    enabled: yes

- name: Navidrome script
  ansible.builtin.template:
    src: navidrome_container.sh.j2
    dest: "/usr/local/bin/navidrome_container.sh"
    owner: root
    group: root
    mode: "0770"

- name: rclone mount music script
  ansible.builtin.template:
    src: rclone_mount_music.sh.j2
    dest: "/usr/local/bin/rclone_mount_music.sh"
    owner: root
    group: root
    mode: "0770"
  when: navidrome_local_music_path is not defined

- name: check music rclone script
  ansible.builtin.template:
    src: check_music_rclone.sh.j2
    dest: "/usr/local/bin/check_music_rclone.sh"
    owner: root
    group: root
    mode: "0770"
  when: navidrome_local_music_path is not defined

- name: rclone mount music service
  ansible.builtin.template:
    src: rclone_mount_music.service.j2
    dest: "/etc/systemd/system/rclone_mount_music.service"
  when: navidrome_local_music_path is not defined

- name: Enable rclone mount music service
  ansible.builtin.systemd:
    name: rclone_mount_music.service
    enabled: yes
  when: navidrome_local_music_path is not defined

- name: check music rclone service
  ansible.builtin.template:
    src: check_music_rclone.service.j2
    dest: "/etc/systemd/system/check_music_rclone.service"
  when: navidrome_local_music_path is not defined

- name: check music rclone timer
  ansible.builtin.template:
    src: check_music_rclone.timer.j2
    dest: "/etc/systemd/system/check_music_rclone.timer"
  when: navidrome_local_music_path is not defined

- name: Enable check music rclone timer
  ansible.builtin.systemd:
    name: check_music_rclone.timer
    enabled: yes
  when: navidrome_local_music_path is not defined

- name: Install zip and jq packages
  ansible.builtin.dnf:
    name:
      - zip
      - jq
    state: present

- name: Backup navidrome script
  ansible.builtin.template:
    src: backup_navidrome.sh.j2
    dest: "/usr/local/bin/backup_navidrome.sh"
    owner: "{{ user_name }}"
    group: root
    mode: "0770"

- name: Backup navidrome daily
  ansible.builtin.cron:
    name: "Backup navidrome daily"
    special_time: daily
    job: /usr/bin/bash /usr/local/bin/backup_navidrome.sh
