title   Arch Linux Kernel
linux   /vmlinuz-{{ kernel }}
initrd  /{{ ucode }}.img
initrd  /initramfs-{{ kernel }}.img
options cryptdevice=UUID={{ luks_uuid.stdout }}:mycrypt root=UUID={{ root_uuid.stdout }} rw module.sig_enforce={{ sig_status }} lsm=landlock,lockdown,yama,apparmor,bpf
