/usr/bin/podman system prune --all --force
/usr/bin/rm -rf /var/cache/*
podman stop --ignore apcontroller
podman rm --ignore -f apcontroller
podman pull docker.io/mbentley/omada-controller:latest
podman stop --ignore swag
podman rm --ignore -f swag
podman pull docker.io/linuxserver/swag:latest
/usr/bin/bash /usr/local/bin/apcontroller.sh
/usr/bin/bash /usr/local/bin/swag_container.sh
