- name: Create semaphore container network
  ansible.builtin.shell:
    cmd: |
      podman network create semaphore_container_net
  ignore_errors: true
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Archlinux' or ansible_facts['distribution'] == 'Rocky'

- name: Create postgres database container path
  ansible.builtin.file:
    path: "{{ postgres_path }}"
    state: directory
    owner: root
    group: root
    mode: "0777"
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Archlinux' or ansible_facts['distribution'] == 'Rocky'

- name: Postgres service
  ansible.builtin.template:
    src: semaphore_postgres.service.j2
    dest: "/etc/systemd/system/semaphore_postgres.service"
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Archlinux' or ansible_facts['distribution'] == 'Rocky'

- name: Enable postgres
  ansible.builtin.systemd:
    name: semaphore_postgres.service
    enabled: yes
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Archlinux' or ansible_facts['distribution'] == 'Rocky'

- name: Semaphore service
  ansible.builtin.template:
    src: semaphore.service.j2
    dest: "/etc/systemd/system/semaphore.service"
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Archlinux' or ansible_facts['distribution'] == 'Rocky'

- name: Enable semaphore
  ansible.builtin.systemd:
    name: semaphore.service
    enabled: yes
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Archlinux' or ansible_facts['distribution'] == 'Rocky'

- name: Postgres script
  ansible.builtin.template:
    src: semaphore_postgres.sh.j2
    dest: "/usr/local/bin/semaphore_postgres.sh"
    owner: "{{ user_name }}"
    group: root
    mode: "0770"
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Archlinux' or ansible_facts['distribution'] == 'Rocky'

- name: Semaphore script
  ansible.builtin.template:
    src: semaphore.sh.j2
    dest: "/usr/local/bin/semaphore.sh"
    owner: "{{ user_name }}"
    group: root
    mode: "0770"
  when: ansible_facts['distribution'] == 'Debian' or ansible_facts['distribution'] == 'Archlinux' or ansible_facts['distribution'] == 'Rocky'
