- name: Create semaphore container network
  ansible.builtin.shell:
    cmd: |
      podman network create semaphore_container_net
  ignore_errors: true

- name: Create postgres database container path
  ansible.builtin.file:
    path: "{{ semaphore_postgres_path }}"
    state: directory
    owner: root
    group: root
    mode: "0777"

- name: Postgres service
  ansible.builtin.template:
    src: semaphore_postgres.service.j2
    dest: "/etc/systemd/system/semaphore_postgres.service"

- name: Enable postgres
  ansible.builtin.systemd:
    name: semaphore_postgres.service
    enabled: yes

- name: Semaphore service
  ansible.builtin.template:
    src: semaphore.service.j2
    dest: "/etc/systemd/system/semaphore.service"

- name: Enable semaphore
  ansible.builtin.systemd:
    name: semaphore.service
    enabled: yes

- name: Postgres script
  ansible.builtin.template:
    src: semaphore_postgres.sh.j2
    dest: "/usr/local/bin/semaphore_postgres.sh"
    owner: "{{ user_name }}"
    group: root
    mode: "0770"

- name: Semaphore script
  ansible.builtin.template:
    src: semaphore.sh.j2
    dest: "/usr/local/bin/semaphore.sh"
    owner: "{{ user_name }}"
    group: root
    mode: "0770"

- name: Backup Semaphore DB Script
  ansible.builtin.template:
    src: backup_semaphore.sh.j2
    dest: "/usr/local/bin/backup_semaphore.sh"
    owner: root
    group: root
    mode: "0644"

- name: Backup Semaphore Daily
  ansible.builtin.cron:
    name: "Backup Semaphore"
    special_time: daily
    job: /usr/bin/bash /usr/local/bin/backup_semaphore.sh
