/usr/bin/podman run \
--name=pihole \
--volume /home/{{ user_name }}/pihole/etc-pihole:/etc/pihole:Z \
--volume /home/{{ user_name }}/pihole/etc-dnsmasq.d:/etc/dnsmasq.d/:Z \
--mount type=bind,source=/home/{{ user_name }}/pihole/etc-lighttpd/external.conf,destination=/etc/lighttpd/external.conf:Z \
--mount type=bind,source=/home/{{ user_name }}/pihole/etc-lighttpd/cert_privkey_combined.pem,destination=/etc/lighttpd/cert_privkey_combined.pem:Z \
--dns=208.67.222.222 \
--dns=208.67.220.220 \
--network homelab:ip={{ pihole_ip_address }} \
-e TZ=America/Chicago \
-e WEBPASSWORD="{{ web_password }}" \
--label="traefik.http.services.pihole.loadbalancer.server.port=80" \
--label="traefik.https.services.pihole.loadbalancer.server.port=443" \
-e DNSMASQ_USER=root \
-e PIHOLE_UID=0 \
-d docker.io/pihole/pihole:latest
