# Created with podman-3.4.4
---
apiVersion: v1
kind: Pod
metadata:
  name: pihole-annotations
  annotations:
    bind-mount-options: "/home/{{ user_name }}/pihole/etc-dnsmasq.d:Z"
    bind-mount-options: "/home/{{ user_name }}/pihole/etc-pihole:Z"
    bind-mount-options: "/home/{{ user_name }}/pihole/etc-unbound:Z"
  labels:
    app: pihole
  name: pihole
spec:
  restartPolicy: Always

  volumes:
  - name: etc-pihole
    hostPath:
      path: /home/{{ user_name }}/pihole/etc-pihole
      type: Directory

  - name: etc-lighttpd-external
    hostPath:
      path: /home/{{ user_name }}/pihole/etc-lighttpd/external.conf
      type: File

  - name: etc-lighttpd-cert-privkey-combined
    hostPath:
      path: /home/{{ user_name }}/pihole/etc-lighttpd/cert_privkey_combined.pem
      type: File

  - name: etc-dnsmasq
    hostPath:
      path: /home/{{ user_name }}/pihole/etc-dnsmasq.d
      type: Directory

  - name: etc-unbound
    hostPath:
      path: /home/{{ user_name }}/pihole/etc-unbound
      type: Directory

  dnsConfig:
    nameservers:
      - {{ dns_server1 }}
      - {{ dns_server2 }}

  containers:
  - name: unbound
    image: docker.io/mvance/unbound-rpi:latest

    env:
    - name: TZ
      value: "America/Chicago"

    ports:
    - containerPort: 5353
      hostPort: 5353

    - containerPort: 5353
      hostPort: 5353
      protocol: UDP

    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE

    volumeMounts:
    - name: etc-unbound
      mountPath: /opt/unbound/etc/unbound/

  - name: pihole
    image: docker.io/pihole/pihole:latest

    env:
    - name: TZ
      value: "America/Chicago"

    - name: WEBPASSWORD
      value: "{{ web_password }}"

    ports:
    - containerPort: 53
      hostPort: 53

    - containerPort: 53
      hostPort: 53
      protocol: UDP

    - containerPort: 443
      hostPort: 10002

    - containerPort: 80
      hostPort: 10003

    securityContext:
      capabilities:
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE

    volumeMounts:
    - name: etc-pihole
      mountPath: /etc/pihole

    - name: etc-lighttpd-external
      mountPath: "/etc/lighttpd/external.conf:Z"

    - name: etc-lighttpd-cert-privkey-combined
      mountPath: "/etc/lighttpd/cert_privkey_combined.pem:Z"

    - name: etc-dnsmasq
      mountPath: "/etc/dnsmasq.d/:Z"
