[Unit]
Description=Podman container-unbound.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/podman rm --ignore -f unbound
ExecStart=/usr/bin/podman run --cgroups=no-conmon \
          --replace --name=unbound \
          --volume /home/{{ user_name }}/pihole/etc-unbound:/opt/unbound/etc/unbound/:z \
          --dns={{ dns_server1 }} --dns={{ dns_server2 }} --network=pihole_net --ip=172.16.1.3 \
          -e TZ=America/Chicago -p 5353:5353/tcp -p 5353:5353/udp -d docker.io/mvance/unbound-rpi:latest
ExecStop=/usr/bin/podman stop --ignore unbound
ExecStopPost=/usr/bin/podman rm --ignore -f unbound
Type=forking

[Install]
WantedBy=multi-user.target default.target
