/usr/bin/podman run \
--cgroups=no-conmon \
--replace --name=unbound \
--volume /home/{{ user_name }}/pihole/etc-unbound:/opt/unbound/etc/unbound/:Z \
--dns={{ dns_server1 }} \
--dns={{ dns_server2 }} \
--network=pihole_net \
--ip=172.16.1.3 \
-e TZ=America/Chicago \
-p 5353:53/tcp \
-p 5353:53/udp \
-d docker.io/mvance/unbound-rpi:latest
