[Unit]
Description=Podman container-unbound.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/podman rm --ignore -f unbound
ExecStart=/usr/bin/bash /usr/local/bin/unbound_container.sh
ExecStop=/usr/bin/podman stop --ignore unbound
ExecStopPost=/usr/bin/podman rm --ignore -f unbound
Type=forking

[Install]
WantedBy=multi-user.target default.target
