protocol=dyndns2
use=web
server={{ ddclient_server }}
ssl=yes

#Domain 1
login={{ ddclient_username }}
password={{ ddclient_password }}
{{ public_dns_ip_address }}

# OpenDNS
login={{ opendns_ddclient_username }}
password={{ opendns_ddclient_password }}
www.opendns.com
