podman stop --ignore wireguard
podman rm --ignore wireguard
podman pull docker.io/linuxserver/wireguard:latest
podman stop --ignore ddclient
podman rm --ignore ddclient
podman pull docker.io/linuxserver/ddclient:latest
