[Unit]
Description=Pod container-wireguard.service
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/local/bin/kubectl delete -f "/home/{{ user_name }}/kubernetes/wireguard.yml"
ExecStart=/usr/local/bin/kubectl create -f "/home/{{ user_name }}/kubernetes/wireguard.yml"
ExecStop=/usr/local/bin/kubectl delete -f "/home/{{ user_name }}/kubernetes/wireguard.yml"
Type=forking

[Install]
WantedBy=multi-user.target default.target
