[Unit]
Description=Podman container-wireguard.service
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/podman rm --ignore wireguard
ExecStart=/usr/bin/bash /usr/local/bin/wireguard.sh
ExecStop=/usr/bin/podman stop --ignore wireguard
ExecStopPost=/usr/bin/podman rm --ignore -f wireguard
Type=forking

[Install]
WantedBy=multi-user.target default.target
