/usr/bin/podman run \
--name=wireguard \
--volume {{ vpn_path }}/config:/config/:Z \
--volume /lib/modules:/lib/modules/:Z \
--privileged=true \
-e TZ=America/Chicago \
-e SERVERURL={{ homelab_domain }} \
-e SERVERPORT={{ listen_port }} \
-e PEERS={{ user_name }} \
-e PEERDNS={{ wireguard_dns_server }} \
-e INTERNAL_SUBNET={{ wireguard_server_network_prefix }} \
-e ALLOWEDIPS={{ wireguard_allowed_ips }} \
-p {{ listen_port }}:51820/udp \
--sysctl="net.ipv4.conf.all.src_valid_mark=1" \
-d docker.io/linuxserver/wireguard:latest
