# Created with podman-3.4.4
---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    bind-mount-options:/home/{{ user_name }}/wireguard/config: Z
  labels:
    app: wireguard
  name: wireguard
spec:
  containers:
  - image: docker.io/linuxserver/wireguard:arm64v8-latest
    name: wireguard
    env:
    - name: PUID
      value: "{{ wireguard_pid }}"
    - name: PGID
      value: "{{ wireguard_gid }}"
    - name: TZ
      value: "America/Chicago"
    - name: SERVERURL
      value: "{{ public_dns_ip_address }}"
    - name: SERVERPORT
      value: "{{ listen_port }}"
    - name: PEERS
      value: "{{ wireguard_user_name }}"
    - name: PEERDNS
      value: "{{ wireguard_dns_server }}"
    - name: INTERNAL_SUBNET
      value: "{{ wireguard_server_network_prefix }}"
    - name: ALLOWEDIPS
      value: "{{ wireguard_allowed_ips }}"
    ports:
    - containerPort: 51820
      hostPort: {{ listen_port }}
      protocol: UDP
    securityContext:
      privileged: true
      sysctls:
      - name: net.ipv4.conf.all.src_valid_mark
        value: "1"
    volumeMounts:
    - mountPath: /config/
      name: home-{{ user_name }}-wireguard-config-host-0
    - mountPath: /lib/modules/
      name: lib-modules-host-1
  volumes:
  - hostPath:
      path: /home/{{ user_name }}/wireguard/config
      type: Directory
    name: home-{{ user_name }}-wireguard-config-host-0
  - hostPath:
      path: /lib/modules
      type: Directory
    name: lib-modules-host-1
