#!/bin/bash
# Credits
# https://marcincuber.medium.com/lets-encrypt-generating-wildcard-ssl-certificate-using-certbot-ae1c9484c101

certbot certonly --manual --preferred-challenges=dns --agree-tos --manual-public-ip-logging-ok -d "*.{{ ssl_cert }}"
