{% raw %}server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    server_name {% endraw %}{{ proxy_fqdn }};{% raw %}

    include /config/nginx/ssl.conf;

    client_max_body_size 20G;
    client_body_timeout 300s;
    fastcgi_buffers 64 4K;
    client_body_buffer_size 400M;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app {% endraw %}{{ container_destination }};{% raw %}
        set $upstream_port {% endraw %}{{ proxy_upstream_port }};{% raw %}
        set $upstream_proto {% endraw %}{{ proxy_upstream_protocol }};{% raw %}
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
        proxy_max_temp_file_size 20G;
        proxy_hide_header Referrer-Policy;
        proxy_hide_header X-Content-Type-Options;
        proxy_hide_header X-Frame-Options;
        proxy_hide_header X-XSS-Protection;

    }
}
{% endraw %}
