http:
  routers:
    {{ config_name.name }}:
      rule: "Host(`{{ config_name.proxy_fqdn }}`)"
      entryPoints:
        - websecure
      service: "{{ config_name.name }}"
      tls:
        certResolver: porkbun
      middlewares:
        - security-headers@file
        - rate-limit-default@file
{% if config_name.proxy_allow_encoded_slash | default(false) %}
        - allow-encoded-slash@file
{% endif %}
{% if config_name.proxy_management_only | default(false) %}
        - ip-allowlist-mgmt@file
{% endif %}

  services:
    {{ config_name.name }}:
      loadBalancer:
        servers:
          - url: "{{ config_name.proxy_upstream_protocol }}://{{ config_name.container_destination }}:{{ config_name.proxy_upstream_port }}"
        passHostHeader: true
