[Unit]
Description=Podman container-swag.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target {{ container_service_names }}.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/podman rm --ignore swag
ExecStart=/usr/bin/bash /usr/local/bin/swag_container.sh
ExecStop=/usr/bin/podman stop --ignore swag
ExecStopPost=/usr/bin/podman rm --ignore -f swag
Type=forking

[Install]
WantedBy=multi-user.target default.target
