/usr/bin/podman run \
--name=swag \
--network={{ swag_network }} \
--cap-add=NET_ADMIN \
-e URL={{ top_domain }} \
-e PUID="1000" \
-e GUID="1000" \
-e SUBDOMAINS={{ swag_host_domain }} \
-e VALIDATION=dns \
-e DNSPLUGIN={{ swag_dns_plugin }} \
-e ONLY_SUBDOMAINS=true \
-e DOCKER_MODS=linuxserver/mods:universal-package-install \
-e INSTALL_PIP_PACKAGES=certbot-dns-porkbun==0.8 \
-v {{ swag_path }}:/config:Z \
-p 443:443/tcp -d docker.io/linuxserver/swag:latest
