/usr/bin/podman pull docker.io/linuxserver/swag:latest
/usr/bin/podman run \
--name=swag \
{% if swag_networks is defined %}
{% for net in swag_networks %}
--network={{ net }} \
{% endfor %}
{% else %}
--network={{ swag_network }} \
{% endif %}
--cap-add=NET_ADMIN \
-e URL={{ top_domain }} \
-e PUID="1000" \
-e GUID="1000" \
-e SUBDOMAINS={{ swag_host_domain }} \
-e VALIDATION=dns \
-e DNSPLUGIN={{ swag_dns_plugin }} \
-e PROPAGATION=60 \
-e ONLY_SUBDOMAINS=true \
-e TZ=America/New_York \
-v {{ swag_path }}:/config:Z \
-p 443:443/tcp -d docker.io/linuxserver/swag:latest
