{% set ns = namespace(encoded_slash_enabled=false) %}
{% for config_name in proxy_config %}
{% if config_name.proxy_allow_encoded_slash | default(false) %}
{% set ns.encoded_slash_enabled = true %}
{% endif %}
{% endfor %}
global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true
  insecure: false

entryPoints:
  web:
    address: ":80"
    http:
{% if ns.encoded_slash_enabled %}
      encodedCharacters:
        allowEncodedSlash: true
{% endif %}
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: ":443"
    http:
{% if ns.encoded_slash_enabled %}
      encodedCharacters:
        allowEncodedSlash: true
{% endif %}
      tls:
        certResolver: porkbun

certificatesResolvers:
  porkbun:
    acme:
      email: "{{ traefik_acme_email }}"
      storage: /acme.json
      dnsChallenge:
        provider: porkbun
        propagation:
          delayBeforeChecks: 60s

providers:
  file:
    directory: /etc/traefik/config
    watch: true

log:
  level: WARN

accessLog: {}
