## traefik.yml
# Credits
# https://stackoverflow.com/questions/25359898/escape-jinja2-syntax-in-a-jinja2-template

api:
  dashboard: false
  insecure: false

entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"

providers:
  docker:
    network: nextcloud_postgres_net

tls:
  certificates:
    - certFile: "/tools/certs/cert.pem"
    - keyFile: "/tools/certs/privkey.pem"
  stores:
    default:
      defaultCertificate:
        certFile: "/tools/certs/cert.pem"
        keyFile: "/tools/certs/privkey.pem"
