AuthorizedKeysFile .ssh/authorized_keys

ChallengeResponseAuthentication no

PasswordAuthentication no

PermitEmptyPasswords no

GSSAPIAuthentication no

PermitRootLogin no

MaxAuthTries 6

PubkeyAuthentication yes

UsePAM no
