/bin/bash /usr/local/bin/update_wireguard_container.sh
/bin/bash /usr/local/bin/update_apcontroller_container.sh
/bin/bash /usr/local/bin/update_dns_container.sh
/bin/bash /usr/local/bin/update_nextcloud_container.sh
/bin/bash /usr/local/bin/update_vaultwarden_container.sh
/bin/yum update -y
/sbin/reboot
