---
- name: Install sqlite3
  ansible.builtin.dnf:
    name: sqlite
    state: present

- name: Create vaultwarden container network
  ansible.builtin.shell:
    cmd: |
      podman network create --subnet 172.16.1.16/29 vaultwarden_container_net
  ignore_errors: true

- name: Create Vaultwarden container path
  ansible.builtin.file:
    path: "{{ vaultwarden_path }}"
    state: directory

- name: Create Vaultwarden container data path
  ansible.builtin.file:
    path: "{{ vaultwarden_path }}/vw-data"
    state: directory

- name: Create Vaultwarden container ssl certs path
  ansible.builtin.file:
    path: "{{ vaultwarden_path }}/ssl_certs"
    state: directory

- name: Create Vaultwarden backups path
  ansible.builtin.file:
    path: "{{ vaultwarden_path }}/database_backups"
    state: directory

- name: Vaultwarden Service
  ansible.builtin.template:
    src: vaultwarden.service.j2
    dest: "/etc/systemd/system/vaultwarden.service"

- name: Enable Vaultwarden
  ansible.builtin.systemd:
    name: vaultwarden.service
    enabled: yes

- name: Backup Database Script
  ansible.builtin.template:
    src: backup_db.j2
    dest: "/usr/local/bin/backup_vaultwarden_db.sh"
    owner: root
    group: root
    mode: "0644"

- name: Backup Vaultwarden Daily
  ansible.builtin.cron:
    name: "Backup Vaultwarden"
    special_time: daily
    job: /usr/bin/bash /usr/local/bin/backup_vaultwarden_db.sh

- name: Vaultwarden script
  ansible.builtin.template:
    src: vaultwarden.sh.j2
    dest: "/usr/local/bin/vaultwarden.sh"
