SELECT 'CREATE DATABASE {{ paperless_database_name }}'
WHERE NOT EXISTS (
  SELECT FROM pg_database WHERE datname = '{{ paperless_database_name }}'
);

SELECT 'CREATE DATABASE {{ nextcloud_database_name }}'
WHERE NOT EXISTS (
  SELECT FROM pg_database WHERE datname = '{{ nextcloud_database_name }}'
);
