[Unit]
Description=Podman container-nextcloud.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target postgres_container.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/podman rm --ignore nextcloud
ExecStart=/usr/bin/bash /usr/local/bin/nextcloud_container.sh
ExecStop=/usr/bin/podman stop --ignore nextcloud
ExecStopPost=/usr/bin/podman rm --ignore -f nextcloud
Type=forking

[Install]
WantedBy=multi-user.target default.target
