[Unit]
Description=Podman container-nextcloud.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/podman rm --ignore nextcloud
ExecStartPre=/usr/bin/podman pull docker.io/nextcloud:latest
ExecStart=/usr/bin/podman run \
          --name=nextcloud \
          --network=nextcloud_postgres_net \
          --volume /home/{{ user_name }}/nextcloud/base:/var/www/html/:Z \
          --volume /home/{{ user_name }}/nextcloud/data:/var/www/html/data/:Z \
          --volume /home/{{ user_name }}/nextcloud/config:/var/www/html/config/:Z \
          --volume /home/{{ user_name }}/nextcloud/apps:/var/www/html/custom_apps/:Z \
          -e POSTGRES_DB={{ nextcloud_database_name }} \
          -e POSTGRES_USER={{ nextcloud_database_user }} \
          -e POSTGRES_PASSWORD={{ nextcloud_database_user_password }} \
          -e NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user }} \
          -e NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password }} \
          -e NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains }} \
          -e POSTGRES_HOST=172.16.1.10 \
          --ip=172.16.1.11 \
          --label="traefik.http.routers.nextcloud.entrypoints=http" \
          --label="traefik.http.routers.nextcloud.rule=Host(`{{ nextcloud_domain }}`)" \
          --label="traefik.http.middlewares.https-redirect.redirectscheme.scheme=https" \
          --label="traefik.http.routers.nextcloud.middlewares=nc-header,https-redirect" \
          --label="traefik.http.routers.nextcloud-secure.entrypoints=https" \
          --label="traefik.http.routers.nextcloud-secure.rule=Host(`{{ nextcloud_domain }}`)" \
          --label="traefik.http.middlewares.nc-rep.redirectregex.regex=https://(.*)/.well-known/(card|cal)dav" \
          --label="traefik.http.middlewares.nc-rep.redirectregex.replacement=https://$$1/remote.php/dav/" \
          --label="traefik.http.middlewares.nc-rep.redirectregex.permanent=true" \
          --label="traefik.http.middlewares.nc-header.headers.customFrameOptionsValue=SAMEORIGIN" \
          --label="traefik.http.middlewares.nc-header.headers.customResponseHeaders.Strict-Transport-Security=15552000" \
          --label="traefik.http.routers.nextcloud-secure.middlewares=nc-rep,nc-header" \
          --label="traefik.http.routers.nextcloud-secure.tls=true" \
          --label="traefik.http.routers.nextcloud-secure.service=nextcloud" \
          --label="traefik.http.services.nextcloud.loadbalancer.server.port=80" \
          --label="traefik.http.services.nextcloud.loadbalancer.passHostHeader=true" \
          --requires=postgres \
          -d docker.io/nextcloud:latest
ExecStop=/usr/bin/podman stop --ignore nextcloud
ExecStopPost=/usr/bin/podman rm --ignore -f nextcloud
Type=forking

[Install]
WantedBy=multi-user.target default.target
