POSTGRES_DB={{ nextcloud_database_name | quote }}
POSTGRES_USER={{ nextcloud_db_user | quote }}
POSTGRES_PASSWORD={{ nextcloud_db_password | quote }}
NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user | quote }}
NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password | quote }}
NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains | quote }}
POSTGRES_HOST={{ 'postgres.dns.podman' | quote }}
TRUSTED_PROXIES={{ '172.16.1.0/28' | quote }}
OVERWRITEPROTOCOL={{ 'https' | quote }}
OVERWRITECLIURL={{ ('https://' ~ nextcloud_dns_name) | quote }}
PHP_UPLOAD_LIMIT={{ '20480M' | quote }}
APACHE_BODY_LIMIT={{ '21474836480' | quote }}
REDIS_HOST={{ 'redis.dns.podman' | quote }}
TZ={{ 'America/New_York' | quote }}
