POSTGRES_DB={{ nextcloud_database_name | quote }}
POSTGRES_USER={{ nextcloud_db_user | quote }}
POSTGRES_PASSWORD={{ nextcloud_db_password | quote }}
NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user | quote }}
NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password | quote }}
NEXTCLOUD_TRUSTED_DOMAINS={{ nextcloud_trusted_domains | quote }}
POSTGRES_HOST={{ (container_dns.aliases.postgres_backend ~ '.' ~ container_dns.domain) | quote }}
TRUSTED_PROXIES={{ route_proxy_network_subnets.nextcloud_proxy_net | quote }}
OVERWRITEPROTOCOL={{ 'https' | quote }}
OVERWRITECLIURL={{ ('https://' ~ nextcloud_dns_name) | quote }}
PHP_UPLOAD_LIMIT={{ '20480M' | quote }}
APACHE_BODY_LIMIT={{ '21474836480' | quote }}
REDIS_HOST={{ (container_dns.aliases.redis_backend ~ '.' ~ container_dns.domain) | quote }}
TZ={{ 'America/New_York' | quote }}
