/usr/bin/podman run \
--name=postgres \
--network=nextcloud_container_net \
--volume {{ postgres_path }}:/var/lib/postgresql/data/:Z \
--env POSTGRES_USER={{ nextcloud_database_user }} \
--env POSTGRES_PASSWORD={{ nextcloud_database_user_password }} \
-e POSTGRES_DB={{ nextcloud_database_name }} \
-d docker.io/postgres:15
