POSTGRES_USER={{ postgres_admin_user | quote }}
POSTGRES_PASSWORD={{ postgres_admin_password | quote }}
POSTGRES_LEGACY_BOOTSTRAP_USER={{ postgres_legacy_bootstrap_user | quote }}
POSTGRES_LEGACY_BOOTSTRAP_PASSWORD={{ postgres_legacy_bootstrap_password | quote }}
POSTGRES_DB={{ nextcloud_database_name | quote }}
NEXTCLOUD_DB_NAME={{ nextcloud_database_name | quote }}
NEXTCLOUD_DB_USER={{ nextcloud_db_user | quote }}
NEXTCLOUD_DB_PASSWORD={{ nextcloud_db_password | quote }}
PAPERLESS_DB_NAME={{ paperless_database_name | quote }}
PAPERLESS_DB_USER={{ paperless_db_user | quote }}
PAPERLESS_DB_PASSWORD={{ paperless_db_password | quote }}
SEMAPHORE_DB_NAME={{ semaphore_database_name | quote }}
SEMAPHORE_DB_USER={{ semaphore_db_user | quote }}
SEMAPHORE_DB_PASSWORD={{ semaphore_db_password | quote }}
TZ={{ 'America/New_York' | quote }}
