/usr/bin/podman pull docker.io/postgres:15
/usr/bin/podman run \
--name=postgres \
--network=nextcloud_container_net \
--volume {{ postgres_path }}:/var/lib/postgresql/data/:Z \
--volume {{ postgres_path }}/custom-init:/custom-init/:Z \
--env POSTGRES_USER={{ nextcloud_database_user }} \
--env POSTGRES_PASSWORD={{ nextcloud_database_user_password }} \
--env POSTGRES_DB={{ nextcloud_database_name }} \
-e TZ=America/New_York \
--entrypoint /custom-init/db_wrapper.sh \
-d docker.io/postgres:15
