POSTGRES_USER={{ postgres_admin_user }}
POSTGRES_PASSWORD={{ postgres_admin_password }}
POSTGRES_DB={{ nextcloud_database_name }}
NEXTCLOUD_DB_NAME={{ nextcloud_database_name }}
NEXTCLOUD_DB_USER={{ nextcloud_db_user }}
NEXTCLOUD_DB_PASSWORD={{ nextcloud_db_password }}
PAPERLESS_DB_NAME={{ paperless_database_name }}
PAPERLESS_DB_USER={{ paperless_db_user }}
PAPERLESS_DB_PASSWORD={{ paperless_db_password }}
SEMAPHORE_DB_NAME={{ semaphore_database_name }}
SEMAPHORE_DB_USER={{ semaphore_db_user }}
SEMAPHORE_DB_PASSWORD={{ semaphore_db_password }}
TZ=America/New_York
