#!/bin/bash
set -euo pipefail

set -a
. "{{ secret_env_dir }}/redis.env"
set +a

exec /usr/bin/podman run \
--pull=never \
--name=redis \
--network=nextcloud_container_net:ip={{ container_static_ips.redis_backend }},alias={{ container_dns.aliases.redis_backend }} \
--read-only \
--tmpfs /tmp:rw,noexec,nosuid,nodev,size=16m \
--tmpfs /data:rw,noexec,nosuid,nodev,size=64m \
--env TZ \
--memory=256m \
--memory-swap=256m \
--pids-limit=200 \
--cap-drop=ALL \
--cap-add=CHOWN \
--cap-add=FOWNER \
--cap-add=DAC_OVERRIDE \
--security-opt=no-new-privileges:true \
-d {{ redis_image }}
