#!/bin/bash
set -euo pipefail

set -a
. "{{ secret_env_dir }}/redis.env"
set +a

exec /usr/bin/podman run \
--pull=never \
--name=redis \
--network=nextcloud_container_net \
--env TZ \
--memory=256m \
--memory-swap=256m \
--cap-drop=ALL \
--cap-add=CHOWN \
--cap-add=FOWNER \
--cap-add=DAC_OVERRIDE \
--security-opt=no-new-privileges:true \
-d {{ redis_image }}
