/usr/bin/bash /usr/local/bin/update_wireguard_container.sh
/usr/bin/bash /usr/local/bin/update_apcontroller_container.sh
/usr/bin/bash /usr/local/bin/update_dns_container.sh
/usr/bin/bash /usr/local/bin/update_nextcloud_container.sh
/usr/bin/bash /usr/local/bin/update_vaultwarden_container.sh
/usr/bin/apt-get update -y
/usr/bin/apt-get upgrade -y
/usr/sbin/reboot
