---
- name: Install EPEL repository
  ansible.builtin.dnf:
    name: epel-release
    state: present

- name: Update all packages to their latest version
  ansible.builtin.dnf:
    name: "*"
    state: latest
    update_cache: yes
