---
- name: Install ansible
  ansible.builtin.apt:
    name: ansible
    state: present
  when: ansible_facts['distribution'] == 'Debian'

- name: Install ansible
  community.general.pacman:
    name: ansible
    state: present
  when: ansible_facts['distribution'] == 'Archlinux'

- name: Install sshpass
  community.general.pacman:
    name: sshpass
    state: present
  when: ansible_facts['distribution'] == 'Archlinux'

- name: Install ansible and sshpass
  ansible.builtin.dnf:
    name:
      - ansible
      - sshpass
    state: present
  when: ansible_facts['distribution'] == 'Rocky'
