---
- name: Install ansible-core and sshpass
  ansible.builtin.dnf:
    name:
      - ansible-core
      - sshpass
    state: present

- name: Install required ansible collections
  ansible.builtin.dnf:
    name:
      - ansible-collection-ansible-posix
      - ansible-collection-community-general
    state: present
