# Backup Nextcloud
/bin/borg create "{{ borg_backup_path }}::nextcloud_backup-$(date +%m_%d_%Y)" "{{ nextcloud_backup_path }}"

# Prune Nextcloud Backups
/bin/borg prune --keep-daily 7 --keep-weekly 4 --keep-monthly 3 --glob-archives 'nextcloud_backup-' "{{ borg_backup_path }}"

# Free disk space
/bin/borg compact "{{ borg_backup_path }}"
