/usr/bin/podman pull {{ semaphore_image }}
/usr/bin/podman run \
--name semaphore \
--env-file {{ secret_env_dir }}/semaphore.env \
--network semaphore_container_net \
--network nextcloud_container_net \
--volume /etc/semaphore/ssh_known_hosts:/etc/semaphore/ssh_known_hosts:Z,ro \
--memory=384m \
--memory-swap=384m \
--cap-drop=ALL \
--security-opt=no-new-privileges:true \
-d {{ semaphore_image }}
