SEMAPHORE_DB_DIALECT={{ 'postgres' | quote }}
SEMAPHORE_DB_HOST={{ 'postgres.dns.podman' | quote }}
SEMAPHORE_DB_NAME={{ semaphore_database_name | quote }}
SEMAPHORE_DB_USER={{ semaphore_db_user | quote }}
SEMAPHORE_DB_PASS={{ semaphore_db_password | quote }}
SEMAPHORE_ADMIN={{ semaphore_admin_name | quote }}
SEMAPHORE_ADMIN_PASSWORD={{ semaphore_admin_password | quote }}
SEMAPHORE_ADMIN_NAME={{ semaphore_admin_name | quote }}
SEMAPHORE_ADMIN_EMAIL={{ semaphore_admin_email | quote }}
SEMAPHORE_ACCESS_KEY_ENCRYPTION={{ semaphore_encryption_key | quote }}
ANSIBLE_SSH_ARGS={{ '-o UserKnownHostsFile=/etc/semaphore/ssh_known_hosts -o StrictHostKeyChecking=yes' | quote }}
TZ={{ 'America/New_York' | quote }}
