#!/bin/bash
set -euo pipefail

set -a
. "{{ secret_env_dir }}/semaphore.env"
set +a

exec /usr/bin/podman run \
--pull=never \
--name semaphore \
--env SEMAPHORE_DB_DIALECT \
--env SEMAPHORE_DB_HOST \
--env SEMAPHORE_DB_NAME \
--env SEMAPHORE_DB_USER \
--env SEMAPHORE_DB_PASS \
--env SEMAPHORE_ADMIN \
--env SEMAPHORE_ADMIN_PASSWORD \
--env SEMAPHORE_ADMIN_NAME \
--env SEMAPHORE_ADMIN_EMAIL \
--env SEMAPHORE_ACCESS_KEY_ENCRYPTION \
--env ANSIBLE_SSH_ARGS \
--env TZ \
--network semaphore_container_net \
--network nextcloud_container_net \
--volume /etc/semaphore:/etc/semaphore:Z \
--volume /var/lib/semaphore:/var/lib/semaphore:Z \
--read-only \
--tmpfs /tmp:rw,noexec,nosuid,nodev,size=64m \
--tmpfs /tmp/semaphore:rw,nosuid,nodev,size=64m \
--memory=384m \
--memory-swap=384m \
--pids-limit=300 \
--cap-drop=ALL \
--security-opt=no-new-privileges:true \
-d {{ semaphore_image }}
