SEMAPHORE_DB_DIALECT=postgres
SEMAPHORE_DB_HOST=postgres.dns.podman
SEMAPHORE_DB_NAME={{ semaphore_database_name }}
SEMAPHORE_DB_USER={{ semaphore_db_user }}
SEMAPHORE_DB_PASS={{ semaphore_db_password }}
SEMAPHORE_ADMIN={{ semaphore_admin_name }}
SEMAPHORE_ADMIN_PASSWORD={{ semaphore_admin_password }}
SEMAPHORE_ADMIN_NAME={{ semaphore_admin_name }}
SEMAPHORE_ADMIN_EMAIL={{ semaphore_admin_email }}
SEMAPHORE_ACCESS_KEY_ENCRYPTION={{ semaphore_encryption_key }}
ANSIBLE_SSH_ARGS=-o UserKnownHostsFile=/etc/semaphore/ssh_known_hosts -o StrictHostKeyChecking=yes
TZ=America/New_York
