/usr/bin/podman pull docker.io/jacobalberty/unifi:latest
/usr/bin/podman run \
--name=unificontroller \
--network=unifi_container_net \
-p 8080:8080 \
-p 3478:3478/udp \
-e TZ=America/New_York \
--volume {{ unificontroller_path }}:/unifi:Z \
--user unifi \
-d docker.io/jacobalberty/unifi:latest
