# Credits
# https://hub.docker.com/r/jacobalberty/unifi

[Unit]
Description=Podman container-unificontroller.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/bin/podman rm --ignore unificontroller
ExecStart=/usr/bin/bash /usr/local/bin/unificontroller.sh
ExecStop=/usr/bin/podman stop --ignore unificontroller
ExecStopPost=/usr/bin/podman rm --ignore -f unificontroller
Type=forking

[Install]
WantedBy=multi-user.target default.target
