[Unit]
Description=Podman login to docker.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/podman login -u {{ docker_username }} -p '{{ docker_password }}' docker.io
Type=forking

[Install]
WantedBy=multi-user.target default.target
