[Unit]
Description=Podman login to docker.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
ExecStart=/usr/bin/bash -lc 'set -a; . "{{ secret_env_dir }}/docker_login.env"; set +a; printf "%%s\n" "$DOCKER_PASSWORD" | /usr/bin/podman login --username "$DOCKER_USERNAME" --password-stdin docker.io'
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target default.target
