/usr/bin/podman pull docker.io/mietzen/porkbun-ddns:latest
/usr/bin/podman run \
--name=porkbun-ddns \
-e DOMAIN="{{ homelab_domain }}" \
-e SUBDOMAINS="{{ homelab_subdomain }}" \
-e SECRETAPIKEY="{{ porkbun_api_key_secret }}" \
-e APIKEY="{{ porkbun_api_key }}" \
-e SLEEP="600" \
-e IPV4_ONLY="TRUE" \
-e PYTHONUNBUFFERED="1" \
-d docker.io/mietzen/porkbun-ddns:latest
