/usr/bin/podman system prune --all --force
/usr/bin/rm -rf /var/cache/*
podman stop --ignore wireguard
podman rm --ignore wireguard
podman pull docker.io/linuxserver/wireguard:latest
podman stop --ignore porkbun-ddns
podman rm --ignore porkbun-ddns
podman pull docker.io/mietzen/porkbun-ddns:latest
/usr/bin/bash /usr/local/bin/porkbun-ddns.sh
/usr/bin/bash /usr/local/bin/wireguard.sh
