#!/bin/bash

music_path='{{ navidrome_path }}/music'

# Check music path and verify directory is not empty
if [[ ! -d "$music_path" || -z "$(ls -A "$music_path")" ]]; then
    printf 'Restarting rclone mount and Navidrome...\n'
    systemctl restart rclone_mount_music.service
    systemctl restart navidrome_container.service
fi
