/usr/bin/podman pull docker.io/deluan/navidrome:latest
/usr/bin/podman run \
--name navidrome \
--network=navidrome_container_net \
{% raw %}--user $(id -u):33 \
{% endraw %}--volume {{ navidrome_local_music_path | default(navidrome_path + '/music') }}:/music:ro,z \
--volume {{ navidrome_path }}/data:/data:Z \
--volume {{ navidrome_path }}/backup:/navidrome_backup:Z \
-e ND_LOGLEVEL=info \
-e TZ=America/New_York \
-e ND_BACKUP_PATH=/navidrome_backup \
-d docker.io/deluan/navidrome:latest
