[Unit]
Description=Rclone mount music folder
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=60s
TimeoutStopSec=70
ExecStart=/usr/bin/bash /usr/local/bin/rclone_mount_music.sh
ExecStop=umount '{{ navidrome_path }}/music'
Type=forking

[Install]
WantedBy=multi-user.target default.target
