/usr/bin/podman system prune --all --force
/usr/bin/rm -rf /var/cache/*
/usr/bin/podman stop --ignore navidrome
/usr/bin/podman rm --ignore navidrome
/usr/bin/podman pull docker.io/deluan/navidrome:latest
/usr/bin/podman stop --ignore swag
/usr/bin/podman rm --ignore -f swag
/usr/bin/podman pull docker.io/linuxserver/swag:latest
/usr/bin/bash /usr/local/bin/navidrome_container.sh
/usr/bin/bash /usr/local/bin/swag_container.sh
