---
- name: Install SELinux management utilities
  ansible.builtin.dnf:
    name:
      - policycoreutils-python-utils
      - setroubleshoot-server
    state: present
  when: ansible_facts['distribution'] == 'Rocky'

- name: Ensure SELinux is enforcing
  ansible.posix.selinux:
    policy: targeted
    state: enforcing
  when: ansible_facts['distribution'] == 'Rocky'

- name: Allow container FUSE filesystem access (rclone music mount for Navidrome)
  ansible.posix.seboolean:
    name: virt_use_fusefs
    state: yes
    persistent: yes
  when: ansible_facts['distribution'] == 'Rocky'

- name: Allow containers to manage cgroups (Podman + systemd)
  ansible.posix.seboolean:
    name: container_manage_cgroup
    state: yes
    persistent: yes
  when: ansible_facts['distribution'] == 'Rocky'
