/usr/bin/podman pull {{ paperless_image }}
/usr/bin/podman run \
--name=paperless \
--network=nextcloud_container_net \
--env-file {{ secret_env_dir }}/paperless.env \
-v {{ paperless_data_path }}:/usr/src/paperless/data:Z \
-v {{ paperless_media_path }}:/usr/src/paperless/media:Z \
-v {{ paperless_export_path }}:/usr/src/paperless/export:Z \
-v {{ paperless_consume_path }}:/usr/src/paperless/consume:Z \
--memory=1536m \
--memory-swap=1536m \
--pids-limit=500 \
--cap-drop=ALL \
--cap-add=CHOWN \
--cap-add=SETUID \
--cap-add=SETGID \
--cap-add=FOWNER \
--cap-add=DAC_OVERRIDE \
--security-opt=no-new-privileges:true \
{{ paperless_image }}
