PAPERLESS_REDIS=redis://redis.dns.podman:6379
PAPERLESS_DBHOST=postgres.dns.podman
PAPERLESS_DBNAME={{ paperless_database_name }}
PAPERLESS_DBUSER={{ paperless_db_user }}
PAPERLESS_DBPASS={{ paperless_db_password }}
USERMAP_UID=1000
USERMAP_GID=1000
PAPERLESS_TIME_ZONE=America/New_York
PAPERLESS_OCR_LANGUAGE=eng
PAPERLESS_URL=https://{{ paperless_dns_name }}
