PAPERLESS_REDIS={{ 'redis://redis.dns.podman:6379' | quote }}
PAPERLESS_DBHOST={{ 'postgres.dns.podman' | quote }}
PAPERLESS_DBNAME={{ paperless_database_name | quote }}
PAPERLESS_DBUSER={{ paperless_db_user | quote }}
PAPERLESS_DBPASS={{ paperless_db_password | quote }}
USERMAP_UID={{ '1000' | quote }}
USERMAP_GID={{ '1000' | quote }}
PAPERLESS_TIME_ZONE={{ 'America/New_York' | quote }}
PAPERLESS_OCR_LANGUAGE={{ 'eng' | quote }}
PAPERLESS_URL={{ ('https://' ~ paperless_dns_name) | quote }}
