#!/bin/bash
set -euo pipefail

set -a
. "{{ secret_env_dir }}/paperless.env"
set +a

exec /usr/bin/podman run \
--pull=never \
--name=paperless \
--network=nextcloud_container_net \
--env PAPERLESS_REDIS \
--env PAPERLESS_DBHOST \
--env PAPERLESS_DBNAME \
--env PAPERLESS_DBUSER \
--env PAPERLESS_DBPASS \
--env USERMAP_UID \
--env USERMAP_GID \
--env PAPERLESS_TIME_ZONE \
--env PAPERLESS_OCR_LANGUAGE \
--env PAPERLESS_URL \
-v {{ paperless_data_path }}:/usr/src/paperless/data:Z \
-v {{ paperless_media_path }}:/usr/src/paperless/media:Z \
-v {{ paperless_export_path }}:/usr/src/paperless/export:Z \
-v {{ paperless_consume_path }}:/usr/src/paperless/consume:Z \
--memory=1536m \
--memory-swap=1536m \
--pids-limit=500 \
--cap-drop=ALL \
--cap-add=CHOWN \
--cap-add=SETUID \
--cap-add=SETGID \
--cap-add=FOWNER \
--cap-add=DAC_OVERRIDE \
--security-opt=no-new-privileges:true \
{{ paperless_image }}
