# Credits
# https://github.com/mbentley/docker-omada-controller

[Unit]
Description=Pod container-apcontroller.service
Wants=network.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/usr/local/bin/kubectl delete -f "/home/{{ user_name }}/kubernetes/apcontroller.yml"
ExecStart=/usr/local/bin/kubectl create -f "/home/{{ user_name }}/kubernetes/apcontroller.yml"
ExecStop=/usr/local/bin/kubectl delete -f "/home/{{ user_name }}/kubernetes/apcontroller.yml"
Type=forking

[Install]
WantedBy=multi-user.target default.target
