# Created with podman-3.4.4
---
apiVersion: v1
kind: Pod
metadata:
  annotations:
    bind-mount-options:/home/{{ user_name }}/apcontroller/data: Z
    bind-mount-options:/home/{{ user_name }}/apcontroller/logs: Z
    bind-mount-options:/home/{{ user_name }}/apcontroller/work: Z
  labels:
    app: apcontroller
  name: apcontroller
spec:
  containers:
    - args:
        - /usr/bin/java
        - -server
        - -Xms128m
        - -Xmx1024m
        - -XX:MaxHeapFreeRatio=60
        - -XX:MinHeapFreeRatio=30
        - -XX:+HeapDumpOnOutOfMemoryError
        - -XX:HeapDumpPath=/opt/tplink/EAPController/logs/java_heapdump.hprof
        - -Djava.awt.headless=true
        - -cp
        - "/opt/tplink/EAPController/lib/*::/opt/tplink/EAPController/properties:"
        - com.tplink.smb.omada.starter.OmadaLinuxMain
      image: docker.io/mbentley/omada-controller:latest-arm64
      name: apcontroller
      env:
      - name: TZ
        value: "Etc/UTC"
      - name: MANAGE_HTTP_PORT
        value: "8088"
      - name: MANAGE_HTTPS_PORT
        value: "8043"
      - name: PORTAL_HTTP_PORT
        value: "8088"
      - name: PORTAL_HTTPS_PORT
        value: "8843"
      - name: SHOW_SERVER_LOGS
        value: "true"
      - name: SHOW_MONGODB_LOGS
        value: "false"
      ports:
        - containerPort: 8088
          hostPort: 8088
        - containerPort: 8043
          hostPort: 8043
        - containerPort: 8843
          hostPort: 8843
        - containerPort: 29810
          hostPort: 29810
        - containerPort: 29810
          hostPort: 29810
          protocol: UDP
        - containerPort: 29811
          hostPort: 29811
        - containerPort: 29811
          hostPort: 29811
          protocol: UDP
        - containerPort: 29812
          hostPort: 29812
        - containerPort: 29812
          hostPort: 29812
          protocol: UDP
        - containerPort: 29813
          hostPort: 29813
        - containerPort: 29813
          hostPort: 29813
          protocol: UDP
        - containerPort: 29814
          hostPort: 29814
        - containerPort: 29814
          hostPort: 29814
          protocol: UDP
      securityContext:
        capabilities:
          drop:
            - CAP_MKNOD
            - CAP_NET_RAW
            - CAP_AUDIT_WRITE
      volumeMounts:
        - mountPath: /opt/tplink/EAPController/data/
          name: home-{{ user_name }}-apcontroller-data-host-0
        - mountPath: /opt/tplink/EAPController/work/
          name: home-{{ user_name }}-apcontroller-work-host-1
        - mountPath: /opt/tplink/EAPController/logs/
          name: home-{{ user_name }}-apcontroller-logs-host-2
  volumes:
    - hostPath:
        path: /home/{{ user_name }}/apcontroller/data
        type: Directory
      name: home-{{ user_name }}-apcontroller-data-host-0
    - hostPath:
        path: /home/{{ user_name }}/apcontroller/work
        type: Directory
      name: home-{{ user_name }}-apcontroller-work-host-1
    - hostPath:
        path: /home/{{ user_name }}/apcontroller/logs
        type: Directory
      name: home-{{ user_name }}-apcontroller-logs-host-2
